*, div, span, span.gUJ0Wc, div.MBPL8b {
    color: #ffffff;
}
a.fIqyif.MdgzLb, span.DPvwYc{
    color: #b6ff00;
}
a.fIqyif.MdgzLb {
    background-color: #000000ab;
}
/*play circle*/
circle.zbdB4c, circle.iIDD2e, line.aakBI, line.aZnmw {
 stroke: #b6ff00;
 fill:#3b3b3b;
}
path.ugRcF {
 fill: #b6ff00;
}
line.Sygbc{
 stroke:#ff5722;
}
body {
    background-color: #333333;
}

div.TiX9ce.dCWhBf, div.ptC3Le.FTnqqe.bBKqme, div.kUwJrc.R4GWv { /*slider*/
    background-color: white;
}
/*Play bar and top*/
div.d5Ncgc, div.gb_Md.gb_3d.gb_Sd {
    background-color: #3b3b3b;
}

form.gb_Te {
    background: #000000;
}
div.Ut8Gr{
    color:ghostwhite;
}
/*text in blocks*/
div.pcNKmc, div.k4WgAf, div.ZTClBb, div.kMNxad {
    color: #ffffff;
}
