* {
    color: mediumpurple;
}



body {
    background-color: black;
}



div.TiX9ce.dCWhBf, div.ptC3Le.FTnqqe.bBKqme, div.kUwJrc.R4GWv { /*slider*/
    background-color: white;
}
/*Play bar and top*/
div.d5Ncgc, div.gb_Md.gb_3d.gb_Sd {
    background-color: #190243;
}
form.gb_Te {
    background: mediumpurple;
}

/*text in blocks*/
div.pcNKmc, div.k4WgAf, div.ZTClBb {
    color: mediumpurple;
}